apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: app
spec:
  template:
    spec:
      containers:
        - name: app
          image: image
          envFrom:
            - secretRef:
                name: env

